hydra-core
pandas
Pyarrow
numpy
python-Levenshtein
ipython
strenum
frost_sta_client
datetime
geopy
netCDF4
psycopg2
shapely
geopandas
scipy

pytest
pytest-cov

ordered_enum
pydap
xarray

python-dotenv
tqdm